@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #4a66e2;
  --secondary-color: #c64ae2;
  --text-color: #333;
  --background-color: #f7f7f7;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.35em;
  
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2vh 10vw;
}
header {
  text-align: center;
  padding: 50px 0;
  background: linear-gradient(
    180deg,
    var(--primary-color) 5%,
    var(--background-color) 85%
  );
  color: white;
  position: relative;
  overflow: hidden;
}
footer{
  text-align: center;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px;
}
h1 {
  font-size: 3em;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h2 {
  font-size: 2em;
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  margin-bottom: 2vh + 15px;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
}
.section {
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.section:hover {
  transform: translateY(-5px);
}
.skills,
.projects {
  display: flex;
  gap: 2vh;
}
.skills {
  flex-wrap: wrap;
}
.projects {
  flex-direction: column;
}
.skill,
.project {
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
  padding: 15px;
  flex-basis: calc(33% - 20px);
  text-align: center;
  transition: all 0.3s ease;
}
.project a{
    margin-right: 10px;
}
.skill:hover,
.project:hover,
button:hover {
  transform: scale(1.05);
}
.contact-form {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  background-color: #f0f0f0;
  border: 2px solid #ddd;
  border-radius: 20px;
  color: var(--text-color);
  padding: 15px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
  font-family: inherit;
}
textarea {
  height: 20vh;
}
input:focus,
textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}
button {
  background: linear-gradient(
    270deg,
    var(--secondary-color),
    var(--primary-color)
  );
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  align-self: flex-start;
  transition: all 0.3s ease;
  font-family: inherit;
}
.social-links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 2vh;
}
.social-links a {
  color: var(--primary-color);
  font-size: 40px;
  transition: color 0.3s ease;
}
.social-links a:hover {
  color: var(--secondary-color);
}